/* universal */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}
body{
    background-color: #1A0B2E;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }



  /* Shared-styles */
   .branding{
    font-size: 3rem;
  }

  .font-container-title{
    font-size: 3rem;
    font-weight: 700;
  }
  .font-medium{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .btn{
    padding: 12.5px 16px;
    border-radius: 1000px;
    border: none;
    background:linear-gradient(to right top,rgb(229, 185, 104),rgb(189, 35, 61),rgb(236, 0, 236));
    color: white;
    font-weight: 600;
}
.margin{
    margin: 0 auto;
}
.width{
    max-width: 1200px;
}
span{
    background:linear-gradient(to right top,rgb(229, 185, 104),rgb(189, 35, 61),rgb(236, 0, 236));
    color: transparent;
    -webkit-background-clip: text;
}
br{
    display: inline;
}
  





  /* Adding navbar styling */

  .nav-container{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
    /* border: 2px solid red; */
  }

  .nav-option{
    display: flex;
    list-style: none;
    gap: 32px;
    
  }
  #hamburger{
    display: none;
  }


  /* adding styles for bannar */

 .bannar-container {
  padding: 101px 0;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  /* border: 1px solid red; */
}
  .bannar-content{
    max-width: 550px;
    /* border: 1px solid wheat; */
  }
    .bannar-image{
  position: relative;      
  background-image: url(../assets/hero-circle.png);
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;         
  align-items: center;
  justify-content: center;
}
   .bannar-container h2{
    margin-top: 40px;  
  }

  .bannar-container p{
    margin-top: 8px;
  }
  .button-container{
    margin-top: 24px;
    /* border: 1px solid white; */
  }
  
    .btn-transparent{
    padding: 12.5px 16px;
    border-radius: 1000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    color: white;
    font-weight: 600;
  }

  #new{
    background-color:#00FF88;
    color: black;
    font-size: 1.125rem;
    font-weight: 600;
    max-width: 75px;
    padding: 8px 18px;
    border-radius: 1000px;
    position: absolute;
    top: 10%;
    right: 5%;
    box-shadow: 0 3px 27px #00ff8884;
  }

  /* adding styles for about part */

  .about-container{
    padding: 50px;
    text-align: center;
  }
  .about h2{
    margin-bottom: 16px;
  }
  .font-container-p{
    margin: 20px 0 60px 0;
  }
  

  .about-rating-container{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 70px;
  }
  .about-rating-container h2{
    color: #00FF88;
  }

  /* adding style for why choose techwave */
  .choose-container{
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 0;
  }
  .choose-container h2{
    text-align: center;
    margin-bottom: 40px;
  }
  .choose-container-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
  }
  .choose-content1,
  .choose-content2,
  .choose-content3,
  .choose-content4,
  .choose-content5{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
  }
  .choose-container h5{
    margin: 24px 0;
  }
  .choose-content1{
    grid-row: span 2;
  }

  .choose-content2, 
  .choose-content3{
    grid-column: span 3;
  }
 
  .choose-content4{
    grid-column: span 3;
  }

  .choose-content5{
    grid-column: 4}

/* adding featured episodes */

.episode-container{
    margin-top: 120px;
}
.episode-container h2{
    text-align: center;
    margin-bottom: 40px;

}
.episode{
    display: flex;
    gap: 30px;
}
.episode-card{
    border-radius:30px;
    background-color: rgba(37, 13, 68, 1);   
}

.episode-card-content{  
    padding: 24px;
}
.episode-card-content p{
    margin: 15px 0;
}
.episode-card iframe{
    border-radius: 30px 30px 0 0;   
    max-width: 100%;
}
.duration{
    color: #00FF88;
}
  
/* host style adding */


.host-container{
    margin: 120px auto;  
}
.host-container h2{
    text-align: center;  
    margin-bottom: 40px;
}

.host-content-container{
    display: flex;
    background-color:#351165 ;
    padding: 40px;
    border-radius: 40px;
    align-items: center;
    gap: 24px;
}

.host-content h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.host-socials{
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

#linkedin ,
#x,
#instagram,
#youtube{
    width:40px;
    height: 40px;
    border: 2px solid #533C72;
    border-radius: 50%;
    padding:10px;   
}

/* adding style for the footer */

.footer-container{
   padding: 120px 0;
    background-image: url("../assets/footer-bg.png");
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
    max-width: 1600px;
    /* border: 1px solid white; */
}

.footer-container h1{
    font-size: 5rem;
}
.footer-platform{
    display: flex;
   justify-content: center;
   gap: 40px;
   margin: 32px 0;
}

/* making site responsive for smaller display */
@media screen and (max-width: 576px) {

    /* shared style */
    br{
    display: none;
  }
  .font-container-title{
    font-size: 2rem;
    font-weight: 700;
  }
  branding{
    font-size: 2.5rem;

  }


    /* navbar styling */
    .nav-option,.nav-container button{
        display: none;
    }
    #hamburger{
    display: inline;
  }
  .nav-container{
    margin: 20px ;
  }
   .bannar-container {
  padding: 40px 0;
  background-image: url(../assets/hero-bg.png);
  max-width: 576px;
}
  .bannar-content{
    max-width: 400px;
    margin-top: 40px;

    /* border: 1px solid rgb(192, 192, 192); */
  }
    .bannar-image{
    max-width: 200px;
    max-height: 200px; 
  }
  .bannar-image img{
    max-width: 80px;
  }

  #new{
    right:-5%
  }

 /* adding styles for about part */
  .about-container{
    padding: 20px;
    text-align: center;
  }
 
  .about p{
    margin-bottom: 30px;
  }

  .about-rating-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 40px 0;
  }

   /* adding style for why choose techwave */
  .choose-container{
    padding: 40px 20px;
  }

  .choose-container-grid{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* adding featured episodes */
.episode-container{
    margin: 40px 20px;
}
.episode-container h2{
    text-align: center;
    margin-bottom: 40px;
}

.episode{
    flex-direction: column;
    gap: 30px;
}

/* host style adding */
.host-container{
    margin: 60px 20px;  
}

.host-content-container{
    flex-direction: column;
    text-align: center;  
}

.host-socials{
    justify-content: center;
}

/* adding style for the footer */
.footer-container{
   padding: 40px 0;
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    /* /* background-position: center; */
    background-repeat: no-repeat;
    text-align: center;  */
}

.footer-platform{
    max-width: 255px;
    margin: 24px auto;
    flex-wrap: wrap;
   gap: 5px;  
}





}