/* universal */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}
body{
    background-color: #1A0B2E;
}
/* span{
    color: linear gradient;
    

} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }





  /* Shared-styles */

  .font-container-title{
    font-size: 3rem;
    font-weight: 700;
  }

  .btn{
    padding: 12.5px 16px;
    border-radius: 1000px;
    border: none;
    background:linear-gradient(to right top,rgb(229, 185, 104),rgb(189, 35, 61),rgb(236, 0, 236));
    color: white;
    font-weight: 600;
}
.margin{
    margin: 0 auto;
}
  





  /* Adding navbar styling */

  .nav-container{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
    /* border: 2px solid red; */
  }

  .nav-title{
    font-size: 3rem;
  }

  .nav-option{
    display: flex;
    list-style: none;
    gap: 32px;
    
  }

  /* adding styles for bannar */

 .bannar-container {
  padding: 101px 0;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  /* border: 1px solid red; */
}
  .bannar-content{
    max-width: 550px;
    /* border: 1px solid wheat; */
  }
    .bannar-image{
    background-image: url(../assets/hero-circle.png);
    background-size: cover;
    max-width: 350px;
    height: 350px;
    padding-top: 69px;
  }
   .bannar-container h2{
    margin-top: 40px;  
  }

  .bannar-container p{
    margin-top: 8px;
  }
  .button-container{
    margin-top: 24px;
  }
  
    .btn-transparent{
    padding: 12.5px 16px;
    border-radius: 1000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    color: white;
    font-weight: 600;
  }